extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 George Willens

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I have always love computers, I feel that they are so much easier to undersrand than humans! I decided last year that it was time for me to
            | look seriously into software engineering as a career. Over the last few months I have dedicated all of my spare time into studying and practicing.
            | I love learning and new technologies excite me, the challanges in software engineering are exactly what I am lookign for in a career and I can wait to get started.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Javascript
          li NodeJS
          li React
        h6 Contact Info

        ul
          li +44 79834 52478
          li willensgeorge@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/george-willens-947688b7/' target= "_blank") LinkedIn
        a.button.expanded(href='https://github.com/geoleowills' target= "_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  